{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}


<div class="container px-4">
  <div class="row gx-5">
    <div class="col">
      <div class="p-3 border bg-light">
        <p>Привет друг!</p>
        <p>Заполни пожалуйста <a href="/students/new" class="link-primary">анкету</a></p>
        
      </div>
    </div>
  </div>
</div>
