<div class="container center-block">
  <div class="d-flex align-items-center">
    <div class="jumbotron jumbotron-fluid">
      <div class="container"></div>
      <h1 class="display-4 text-center">Спасибо за заполнение анкеты</h1>
      <p class="lead">С нетерпением ждем тебя в Эльбрусе</p>
    </div>
  </div>
</div>
