<div class="container center-block centerBox">
  <div class="d-flex align-items-center">
    <div class="jumbotron jumbotron-fluid">
      <div class="container"></div>
      <h1 class="display-4 text-center">Добро пожаловать в Эльбрус</h1>
      <p class="lead">Привет! Поздравляем с поступлением в Elbrus Coding Bootcamp!</p>
      <p class="lead">Чтобы обучение проходило максимально эффективно, мы хотим познакомиться с тобой поближе.</p>
      <p class="lead">Обещаем, это не займет более 5 минут твоего времени.</p>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <form action="/students/new" method="GET">
      <button id="start" class="btn btn-primary" type="submit"> Я согласен заполнить анкету</button>
    </form>
  </div>
</div>
